.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    align-items: center;
    margin-bottom: 20px;
    gap:30px;


}

.ai-image-header{
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 30px;
}

.ai-image-header span {
    color:rgb(81, 162, 234);

}

.ai-image-generator  .ai-image  img{
    width:800px;
    height: 400px;
    
  
    
}

.ai-search-box{
display: flex;
width: 1000px;
height: 100px;
justify-content: space-around;
align-items: center;
border-radius: 50px;
background: rgb(159, 196, 228);


}

.ai-search-input{
    border: none;
    width: 600px;
    height: 60px;
    background: rgb(159, 196, 228);
    outline: none;
    font-size: 20px;
    color: black;
    padding: 40px;
    margin-right: 40px;
    font-weight: bold;
}

.ai-generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color:rgb(81, 162, 234); 
    color: black;
    cursor: pointer;
}